h3 {
  color: green;
  font-style: italic;
}

h2 {
  color: green;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 10px;
  font-size: 15px;
}

.phone {
  color: red;
  padding-top: 10px;
  font-size: 12px;
}

.error {
  color: red;
  background: lightblue;
  font-size: 20px;
  border-style: inset;
  border-radius: 30px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
}